<h1>Projetos <img src="app\assets\images\logo.png"></h1>

<div class="add"><%= link_to 'Add New Project', new_project_path, class:"btn btn-add" %></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |proj| %> 
      <tr>
        <td class="name"><%= proj.name %></td>
        <td class="description"><%= proj.description %></td>
        <td class="action">
          <%= link_to 'Edit', edit_project_path(proj), class:"btn"%> | 
          <%= link_to 'Delete', destroy_project_path(proj), 
            class:"btn btn-delete", 
            data:{confirm: 'Are you sure? '}, 
            :method => :delete 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>