<div class="header">
  <h1>Projetos</h1>
  <%= image_tag 'logo.png', class: "logo" %>
</div>

<div class="add">
  <%= link_to 'Add New Project', new_project_path, class:"btn btn-add" %> | 
  <%= link_to 'Add New Person', new_responsible_path, class:"btn btn-add" %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Responsible Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |proj| %> 
      <tr>
        <td class="name"><%= link_to proj.name, project_path(proj) %></td>
        <td class="description"><%= proj.description %></td>
        <td class="responsible-name"><%= link_to proj.responsible.name, responsible_path(proj) %></td>
        <td class="email"><%= proj.responsible.email %></td>
        <td class="action">
          <%= link_to 'Edit', edit_project_path(proj), class:"btn" %> | 
          <%= link_to 'Delete', project_path(proj), 
            class:"btn btn-delete", 
            data:{confirm: 'Are you sure? '}, 
            :method => :delete 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>